* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #ffffff;     /* основной текст*/
    background-color: #12121a;     /* бэкграунд*/
}

.header {
    background-color: #05070A; /* шапка*/
    box-shadow: 0 2px 5px rgba(45, 2, 70, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.nav-link {
    text-decoration: none;
    color: #0466C8; /*шапка текст*/
    font-weight: 500;
    transition: color 0.5s;
}

.nav-link:hover {
    color: #6babeb;  /*шапка текст ховер*/
}


.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.hero {
    text-align: center;
    padding: 5rem 1rem;
    background: linear-gradient(135deg, #374151 0%, #1F2937 100%);
    background: linear-gradient(135deg, #0466C8 0%, #0A0A0F 60%); /*карточка бэкграунд*/
 
    color: rgb(255, 255, 255); /*карточка текст*/
    border-radius: 10px;
    margin-bottom: 3rem;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    opacity: 0.9;
}

.hero-button {
    display: inline-block;
    background-color: #0466C8; /*кнопки карточка*/
    color: #06070c; /*текст кнопки карточка*/
    padding: 0.8rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    transition: transform 0.3s, box-shadow 0.3s;
}

.hero-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /*кнопки карточка ховер*/
    color: #d6d6da;
}


.section {
    margin-bottom: 4rem;
    padding: 2rem;
    background-color: #1c2741; /*разделы бэкграунд*/
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #e3e4e6; /*разделы текст*/
    border-bottom: 3px solid #667eea; /*разделы подчеркнутый*/
    padding-bottom: 0.5rem;
    display: inline-block;
}


.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill {
    background-color: #eef2ff; /*навыки 1 облачко*/
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-weight: 500;
    color: #12121a; /*навыки 1 текст*/
}

.skills-lesser-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 1rem 0rem;
}
.skill-lesser{
    background-color: #eef2ff; /*навыки 2 облачко*/
    padding: .2rem 1.2rem;
    border-radius: 50px;
    font-weight: 500;
    color: #12121a; /*навыки 2 текст*/
    align-items: center;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    border: 1px solid #e0e0e0; /*проекты обводка*/
    border-radius: 10px;
    padding: 1.5rem;
    transition: box-shadow 0.3s, transform 0.3s;
}

.project-card:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

.project-title {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
    color: #F3F4F6; /*проекты название*/
}

.project-desc {
    color: #D1D5DB; /*проекты описание*/
    margin-bottom: 1.2rem;
}

.project-link {
    display: inline-block;
    text-decoration: none;
    color: #0077ff; /*проекты ссылка текст*/
    font-weight: 600;
    border: 2px solid #0077ff; /*проекты ссылка обводка*/
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.3s;
}

.project-link:hover {
    background-color: #0077ff; /*проекты ссылка ховер*/
    color: white;
}


.contacts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact-link {
    text-decoration: none;
    color: #e0e0eb; /*контакты текст*/
    background-color: #0466C8; /*контакты облако*/
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.contact-link:hover {
    background-color: #165194; /*контакты облако ховер*/
}


.footer {
    text-align: center;
    padding: 2rem;
    background-color: #333; /*футер бэкграунд*/
    color: #aaa; /*футер текст*/
    margin-top: 3rem;
}

.footer p {
    margin: 0.5rem 0;
}
